
@{
    ViewBag.Title = "ContactConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Right Column -->
<div class="w3-twothird">

    <div class="w3-container w3-card w3-white w3-margin-bottom">

        <br />
        <div class="w3-container w3-teal">
            <h2>Contact Form</h2>
        </div>
        <br />
        <br />
        <br />

        <h4 class="w3-text w3-text-teal">Your Message Was Succesfully Sent!</h4>
        <br />
        <br />
        <br />
        <a href="/"><span class="w3-tag w3-teal w3-round">Back To Home</span></a>
        <br />
        <br />
        <br />
        <br />
        <br />


    </div>
</div>

