@{
    ViewBag.Title = "Michael G. Workman Contact";

}

<!-- Right Column -->
<div class="w3-twothird">

    <div class="w3-container w3-card w3-white w3-margin-bottom">

        <br />
        <div class="w3-container w3-teal">
            <h2>Contact Form</h2>
        </div>
        <br />
        <br />

        @* Contact Form *@
        <form method="post" id="ContactForm" action="/Home/Contact" class="w3-container">

            @Html.AntiForgeryToken()

            <label for="ContactName" class="w3-text-teal"><b>Name</b></label>
            <input type="text" class="w3-input w3-border w3-round" id="ContactName" name="ContactName" maxlength="150" placeholder="Name">
            <br />

            <label for="ContactEmail" class="w3-text-teal"><b>Email</b></label>
            <input type="email" class="w3-input w3-border w3-round" id="ContactEmail" name="ContactEmail" maxlength="100" placeholder="Email">
            <br />

            <label for="ContactPhone" class="w3-text-teal"><b>Phone (include area code)</b></label>
            <input type="text" class="w3-input w3-border w3-round" id="ContactPhone" name="ContactPhone" maxlength="20" placeholder="Phone">
            <br />

            <label for="ContactCategories_ID" class="w3-text-teal"><b>Interest</b></label><br />
            @Html.DropDownList("ContactCategories_ID", (SelectList)ViewBag.Categories, "Select an Interest")
            <br />
            <br />

            <label for="WebMessage" class="w3-text-teal"><b>Message</b></label>
            <textarea class="w3-input w3-border w3-round" id="WebMessage" name="WebMessage" maxlength="1000"></textarea>
            <br />

        </form>

        <div id="ValidationMessage" class="text-danger hide" style="color:red;">
        </div>
        <br />
        <br />

        @* Submit Button Outside of Form to Facilitate JQuery Form Validation *@
        <button id="SendBTN" class="w3-btn w3-blue-grey">Send</button>
        <br />
        <br />

    </div>

</div>

@* JQuery Code for Form Validation *@
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $("#SendBTN").click(function () {

                // vars for form validation
                var formValidated = true;
                var validationMessage = "Error: ";

                // Contact Name
                if ($("#ContactName").val().trim() == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Contact Name Required<br />";
                }

                // Contact Email
                if ($("#ContactEmail").val().trim() == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Contact Email Required<br />";
                }

                // Contact Phone
                if ($("#ContactPhone").val().trim() == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Contact Phone Number Required<br />";
                }

                // Contact Categories
                if ($("#ContactCategories_ID").val() == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Contact Interest Required<br />";
                }

                // Web Message
                if ($("textarea#WebMessage").val().trim() == "") {
                    formValidated = false;
                    validationMessage = validationMessage + "Message Required<br />";
                }

                if (formValidated) {
                    $("#ValidationMessage").hide();
                    $("#ContactForm").submit();
                }
                else {
                    $("#ValidationMessage").html(validationMessage);
                    $("#ValidationMessage").show();
                }

            });

        });
    </script>
        
}