@{
    ViewBag.Title = "Michael G. Workman Contact";

}

<!-- Right Column -->
<div class="w3-twothird">

    <div class="w3-container w3-card w3-white w3-margin-bottom">

        <br />
        <div class="w3-container w3-teal">
            <h2>Contact Form</h2>
        </div>
        <br />
        <br />

        @* Contact Form *@
    <form method="post" id="ContactForm" action="/Home/Contact" class="w3-container">

        @Html.AntiForgeryToken()

        <label for="ContactName" class="w3-text-teal"><b>Name</b></label>
        <input type="text" class="w3-input w3-border w3-round" id="ContactName" name="ContactName" maxlength="150" placeholder="Name">
        <br />

        <label for="ContactEmail" class="w3-text-teal"><b>Email</b></label>
        <input type="email" class="w3-input w3-border w3-round" id="ContactEmail" name="ContactEmail" maxlength="100" placeholder="Email">
        <br />

        <label for="ContactPhone" class="w3-text-teal"><b>Phone (include area code)</b></label>
        <input type="text" class="w3-input w3-border w3-round" id="ContactPhone" name="ContactPhone" maxlength="20" placeholder="Phone">
        <br />

        <label for="ContactCategories_ID" class="w3-text-teal"><b>Interest</b></label><br />
        @Html.DropDownList("ContactCategories_ID", (SelectList)ViewBag.Categories, "Select an Interest")
        <br />
        <br />

        <label for="WebMessage" class="w3-text-teal"><b>Message</b></label>
        <textarea class="w3-input w3-border w3-round" id="WebMessage" name="WebMessage" maxlength="1000"></textarea>
        <br />

        <div id="ValidationMessage" class="text-danger hide" style="color:red;">
        </div>
        <br />

        @* Submit Button Will Be Submitted With JQuery, Not By Default *@
        <button type="button" id="SendBTN" class="w3-btn w3-blue-grey">Send</button>
        <br />
        <br />
    </form>

    </div>

</div>

@* JQuery Code for Form Validation *@
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $("#SendBTN").click(function () {

                // clear out previous error messages
                $(".error").remove();

                // var for form validation
                var formValidated = true;

                // vars for form validation
                var contactName = $("#ContactName");
                var contactEmail = $("#ContactEmail");
                var contactPhone = $("#ContactPhone");
                var contactCategories = $("#ContactCategories_ID");
                var webMessage = $("textarea#WebMessage");

                // Contact Name
                if (contactName.val().trim() == "") {
                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Contact Name Required</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("SEX") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("SEX") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("EINNAHMEN") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("ZAHLUNG") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("REVENUE") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PAYMENT") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PASSIVE INCOME") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("INCOME") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PASSIVES EINKOMMEN") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("EINKOMMEN") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("VERDIENEN") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("HENRYESSED") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("HENRY ESSED") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("HENRY ESSED") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("SOCIAL MEDIA") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("WEB DOMAIN") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("FEEDBACK FORM") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactEmail.val().toUpperCase().indexOf(".RU") >= 0) { // utf-8

                    formValidated = false;
                    contactEmail.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactEmail.val().toUpperCase().indexOf("MICHAELGWORKMAN.COM") >= 0) { // utf-8

                    formValidated = false;
                    contactEmail.after("<span class='error' style='color:red;'>Improper Domain Usage</span><br/>");
                }
                else if (contactEmail.val().toUpperCase().indexOf(".RU") >= 0) { // ansi

                    formValidated = false;
                    contactEmail.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactEmail.val().toUpperCase().indexOf("MICHAELGWORKMAN.COM") >= 0) { // ansi

                    formValidated = false;
                    contactEmail.after("<span class='error' style='color:red;'>Improper Domain Usage</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("ADULT") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("DATING") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("EINNAHMEN") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("ZAHLUNG") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("REVENUE") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PAYMENT") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PASSIVE INCOME") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("INCOME") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PASSIVES EINKOMMEN") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("VERDIENEN") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("HENRYESSED") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("HENRY ESSED") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("SOCIAL MEDIA") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("WEB DOMAIN") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("FEEDBACK FORM") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("ADULT") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("DATING") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PAID COMMISSION") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PAID COMMISSION") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PHARMACY") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("PHARMACY") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("N95") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("N95") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("BACKLINK") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("BACKLINK") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("DOMAIN") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("DOMAIN") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("DOMAIN SERVICES") >= 0) { // utf-8

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactName.val().toUpperCase().indexOf("DOMAIN SERVICES") >= 0) { // ansi

                    formValidated = false;
                    contactName.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else {
                    formValidated = true;
                }


                // Contact Email
                if (contactEmail.val().trim() == "") {
                    formValidated = false;
                    contactEmail.after("<span class='error' style='color:red;'>Contact Email Required</span><br/>");
                }
                else {

                    // Test Contact Email for Proper Format Using Regular Expression
                    var regEx = /^[a-zA-Z0-9._]+[a-zA-Z0-9]+@@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}$/;
                    if (!regEx.test(contactEmail.val()))
                    {
                        formValidated = false;
                        contactEmail.after("<span class='error' style='color:red;'>Contact Email Invalid Format</span><br/>");
                    }

                    // Test Contact Email for Proper Length
                    if (contactEmail.val().length < 8) {
                        formValdiated = false;
                        contactEmail.after("<span class='error' style='color:red;'>Contact Email Not At Least 8 Characters</span><br/>");
                    }

                }

                // Contact Phone
                if (contactPhone.val().trim() == "") {
                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Contact Phone Number Required</span><br/>");
                }
                else if (contactPhone.val().trim().length < 7) {
                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Contact Phone Number Not At Least 7 Numbers</span><br/>");
                }
                else if (contactPhone.val().toUpperCase().indexOf("SEX") >= 0) {    // ansi
                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactPhone.val().toUpperCase().indexOf("SEX") >= 0) {    // utf-8
                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactPhone.val().toUpperCase().indexOf("ADULT") >= 0) { // ansi

                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactPhone.val().toUpperCase().indexOf("DATING") >= 0) { // ansi

                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactPhone.val().toUpperCase().indexOf("ADULT") >= 0) { // utf-8

                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else if (contactPhone.val().toUpperCase().indexOf("DATING") >= 0) { // utf-8

                    formValidated = false;
                    contactPhone.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");
                }

                // Contact Categories
                if (contactCategories.val() == "") {
                    formValidated = false;
                    contactCategories.after("<br /><span class='error' style='color:red;'>Contact Interest Required</span>");
                }

                // Web Message
                if (webMessage.val().trim() == "") {
                    formValidated = false;
                    webMessage.after("<span class='error' style='color:red;'>Message Required</span><br/>");
                }
                else if (((webMessage.val().toUpperCase().indexOf("ADULT") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("SEX") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("ADULT") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("DATE") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("ADULT") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("DATING") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("ADULT") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("HOT") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("SEX") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("DATE") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("DATING") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("HOT") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("WEB") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("AD") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("WEB") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("ADVERTISEMENT") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("OAKLEY") >= 0)
                        && (webMessage.val().toUpperCase().indexOf("RAY BAN") >= 0))
                        || ((webMessage.val().toUpperCase().indexOf("PASSIVE") >= 0)    // ansi
                        && (webMessage.val().toUpperCase().indexOf("INCOME") >= 0))     // ansi
                        || ((webMessage.val().toUpperCase().indexOf("PASSIVE") >= 0)    // utf-8
                        && (webMessage.val().toUpperCase().indexOf("INCOME") >= 0))     // utf-8
                        || ((webMessage.val().indexOf("Passive") >= 0)                  // utf-8
                        && (webMessage.val().indexOf("Income") >= 0))                   // utf-8
                        || ((webMessage.val().indexOf("passive") >= 0)                  // utf-8
                        && (webMessage.val().indexOf("income") >= 0))                   // utf-8
                        || (webMessage.val().toUpperCase().indexOf("SEX") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("DATING") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("SEO") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("S.E.O.") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("OAKLEY") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("RAY BAN") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("RAY-BAN") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("RAYBAN") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("SUNGLASS") >= 0)
                        || (webMessage.val().toUpperCase().indexOf("VERDIENEN SIE GELD") >= 0)  // utf-8
                        || (webMessage.val().toUpperCase().indexOf("VERDIENEN") >= 0)           // utf-8
                        || (webMessage.val().indexOf("Vеrdienen Sie Gеld") >= 0)                // utf-8
                        || (webMessage.val().indexOf("vеrdienen sie gеld") >= 0)                // utf-8
                        || (webMessage.val().toUpperCase().indexOf("PASSIVES EINKOMMEN") >= 0)  // utf-8
                        || (webMessage.val().toUpperCase().indexOf("EINKOMMEN") >= 0)           // utf-8
                        || (webMessage.val().indexOf("Passives Einkommеn") >= 0)                // utf-8
                        || (webMessage.val().indexOf("Einkommеn") >= 0)                         // utf-8
                        || (webMessage.val().indexOf("passives einkommеn") >= 0)                // utf-8
                        || (webMessage.val().indexOf("einkommеn") >= 0)                         // utf-8
                        || (webMessage.val().toUpperCase().indexOf("SEX") >= 0)                 // utf-8
                        || (webMessage.val().toUpperCase().indexOf("SPAM") >= 0)                // utf-8
                        || (webMessage.val().toUpperCase().indexOf("DATING") >= 0)              // utf-8
                        || (webMessage.val().toUpperCase().indexOf("BITCOIN") >= 0)             // utf-8
                        || (webMessage.val().toUpperCase().indexOf("EINNAHMEN") >= 0)           // utf-8
                        || (webMessage.val().toUpperCase().indexOf("ZAHLUNG") >= 0)             // utf-8
                        || (webMessage.val().toUpperCase().indexOf("PAYMENT") >= 0)             // utf-8
                        || (webMessage.val().toUpperCase().indexOf("REVENUE") >= 0)             // utf-8
                        || (webMessage.val().toUpperCase().indexOf("SOCIAL MEDIA") >= 0)        // utf-8
                        || (webMessage.val().toUpperCase().indexOf("WEB DOMAIN") >= 0)          // utf-8
                        || (webMessage.val().toUpperCase().indexOf("FEEDBACK FORM") >= 0)       // utf-8
                        || (webMessage.val().toUpperCase().indexOf("PAID COMMISSION") >= 0)     // utf-8
                        || (webMessage.val().toUpperCase().indexOf("PHARMACY") >= 0)            // utf-8
                        || (webMessage.val().toUpperCase().indexOf("N95") >= 0)                 // utf-8
                        || (webMessage.val().toUpperCase().indexOf("BACKLINK") >= 0)            // utf-8
                        || (webMessage.val().toUpperCase().indexOf("DOMAIN") >= 0)              // utf-8
                        || (webMessage.val().toUpperCase().indexOf("DOMAIN SERVICES") >= 0)     // utf-8
                        || (webMessage.val().toUpperCase().indexOf("VERDIENEN SIE GELD") >= 0)  // ansi
                        || (webMessage.val().toUpperCase().indexOf("VERDIENEN") >= 0)           // ansi
                        || (webMessage.val().toUpperCase().indexOf("EINNAHMEN") >= 0)           // ansi
                        || (webMessage.val().toUpperCase().indexOf("ZAHLUNG") >= 0)             // ansi
                        || (webMessage.val().toUpperCase().indexOf("PAYMENT") >= 0)             // ansi
                        || (webMessage.val().toUpperCase().indexOf("REVENUE") >= 0)             // ansi
                        || (webMessage.val().toUpperCase().indexOf("SOCIAL MEDIA") >= 0)        // ansi
                        || (webMessage.val().toUpperCase().indexOf("WEB DOMAIN") >= 0)          // ansi
                        || (webMessage.val().toUpperCase().indexOf("FEEDBACK FORM") >= 0)       // ansi
                        || (webMessage.val().toUpperCase().indexOf("PAID COMMISSION") >= 0)     // ansi
                        || (webMessage.val().indexOf("Verdienen Sie Geld") >= 0)                // ansi
                        || (webMessage.val().indexOf("verdienen sie geld") >= 0)                // ansi
                        || (webMessage.val().toUpperCase().indexOf("PASSIVES EINKOMMEN") >= 0)  // ansi
                        || (webMessage.val().toUpperCase().indexOf("EINKOMMEN") >= 0)           // ansi
                        || (webMessage.val().indexOf("Passives Einkommen") >= 0)                // ansi
                        || (webMessage.val().indexOf("Einkommen") >= 0)                         // ansi
                        || (webMessage.val().indexOf("passives einkommen") >= 0)                // ansi
                        || (webMessage.val().indexOf("einkommen") >= 0)                         // ansi
                        || (webMessage.val().toUpperCase().indexOf("SPAM") >= 0)                // ansi
                        || (webMessage.val().toUpperCase().indexOf("BITCOIN") >= 0)             // ansi
                        || (webMessage.val().toUpperCase().indexOf("PENNY STOCK") >= 0)         // ansi
                        || (webMessage.val().toUpperCase().indexOf("PHARMACY") >= 0)            // ansi
                        || (webMessage.val().toUpperCase().indexOf("N95") >= 0)                 // ansi
                        || (webMessage.val().toUpperCase().indexOf("BACKLINK") >= 0)            // ansi
                        || (webMessage.val().toUpperCase().indexOf("DOMAIN") >= 0)              // ansi
                        || (webMessage.val().toUpperCase().indexOf("DOMAIN SERVICES") >= 0)     // ansi
                        || (webMessage.val().toUpperCase().indexOf("GOOGLE") >= 0))
                {
                    formValidated = false;
                    webMessage.after("<span class='error' style='color:red;'>Invalid Content</span><br/>");

                }

                // If No Error, Clear Error Messages And Submit Form
                if (formValidated) {
                    $(".error").remove();
                    $("#ContactForm").submit();
                }

            });

        });
    </script>
        
}