@{
    ViewBag.Title = "Home Page";
}

    <!-- Right Column -->
    <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Skills</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>ASP.NET MVC C#</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>7+ years experience, primarily with MVC 3 and MVC 5, and also some WebForms, with 
                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/" target="_blank">C# programming language</a>, both database first and code first Entity Framework with SQL Server Database</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>C# Web API and WCF Web Services</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>5+ years experience with Web API REST Web Services and WCF SOAP Web Services written in 
                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/" target="_blank">C# programming language</a></p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>SQL Server</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>10+ years experience writing TSQL Scripts, Queries, Views, Stored Procedures, Functions and Triggers primarily 
                for web applications but also for Windows Applications and Windows Services. Also 
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017" target="_blank">SQL Server</a> Integration Services (SSIS) and 
                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017" target="_blank">SQL Server</a> Reporting Services (SSRS) Experience.</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Version Control with Git, GitHub, and Team Foundation Server (TFS)</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>In-depth, multi-year experience with Source/Version Control with Git, GitHub, and Team Foundation Server (TFS). Subversion (SVN) experience also.</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Microsoft Azure Cloud</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>3+ years experience hosting ASP.NET MVC Web Applications in the 
                <a href="https://azure.microsoft.com" target="_blank">Azure Cloud</a>, Mobile Services, Virtual Machines, and also Azure SQL Server Database. 3+ years experience administering and maintaining Azure Cloud Solutions</p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Javascript - JQuery - Angular</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>10+ years total experience with Javascript for web development, including 6 years experience with 
                <a href="https://jquery.com/" target="_blank">JQuery</a>, and 3 years experience with 
                <a href="https://angular.io/" target="_blank">Angular</a></p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Cascading Style Sheets (CSS) - Bootstrap</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>10+ years total experience with 
                <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS</a> for web development, including Bootstrap experience with ASP.NET MVC Web Applications</p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Unix and Linux</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>In-depth multi-year experience with 
                <a href="https://en.wikipedia.org/wiki/Unix" target="_blank">Unix</a> and 
                <a href="https://en.wikipedia.org/wiki/Linux" target="_blank">Linux</a> platforms, including with HP-UX, Solaris Unix, Red Hat Linux, and Ubuntu Linux on stand alone systems as well as virtualized systems. In-depth shell scripting experience. Identity management with 
                <a href="https://www.openldap.org/" target="_blank">OpenLDAP</a> and 
                <a href="https://www-01.ibm.com/support/docview.wss?uid=isg3T1027216" target="_blank">IBM LDAP</a>.</p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>C/C++</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>In-depth multi-year experience with software development with 
                <a href="https://en.wikipedia.org/wiki/C_%28programming_language%29" target="_blank">C programming langauge</a>
                on Unix and Linux platforms. In-depth multi-year object oriented development experience with 
                <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a>, multiple inheritance, and use of standard template library (STL). Also Command and Control software and PLC software experience with Sherill-Lubinski (SL-GMS) and C++.</p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Java</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>Intermediate level experience with software development with 
                <a href="https://www.oracle.com/technetwork/java/index-138747.html" target="_blank">Java programming langauge</a> on 
                Unix/Linux and 
                Microsoft Windows, including with 
                Spring Framework. 
                Java Web Services Experience, both client side and server side, 
                Java Identity Experience with 
                LDAP and 
                Active Directory (AD), and 
                GUI Development Experience with Swing 
                and Abstract Window Toolkit (AWT). </p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Mobile Apps - iOS, Android, and Windows</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>5+ years experience with Mobile Apps for iOS (Objective C, Swift), Android (Java), and Windows Phone (Xamarin)</p><br>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Business Administration and Planning</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i><span class="w3-tag w3-teal w3-round">Current</span></h6>
                <p>10+ years total experience with Business Planning and Administration, current President of ABION LLC, undergraduate classes in Accounting, Statistics, Management, and Operations Research</p><br>
            </div>
        </div>

        <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Startup Quest</b></h5>
                <p>Graduate of Career Source Brevard Startup Quest Program for Startup Businesses</p>
                <p><a href="https://startupquest.org" target="_blank"><span class="w3-tag w3-teal w3-round">startupquest.org</span></a></p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Florida Institute of Technology</b></h5>
                <p>Bachelors Degree - Computer Science with Minor in Business Administration</p>
                <p><a href="https://www.fit.edu" target="_blank"><span class="w3-tag w3-teal w3-round">fit.edu</span></a></p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Georgia Military College</b></h5>
                <p>Associate Degree - Engineering Science</p>
                <p><a href="https://www.gmc.edu" target="_blank"><span class="w3-tag w3-teal w3-round">gmc.edu</span></a></p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Georgia Southern University</b></h5>
                <p>2 Year Certificate - Electrical Engineering</p>
                <p><a href="https://www.georgiasouthern.edu" target="_blank"><span class="w3-tag w3-teal w3-round">georgiasouthern.edu</span></a></p>
                <hr>
            </div>
        </div>

        <!-- End Right Column -->
    </div>

